* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0b0b1a;
    color: white;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.logo {
    color: #00c3ff;
    font-weight: bold;
    font-size: 20px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #00c3ff;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 50px;
}

/* TEXT */
.hero-text h1 {
    font-size: 50px;
    color: #00c3ff;
}

.hero-text h2 {
    margin-top: 10px;
    color: #ffffff;
    font-size: 22px;
    min-height: 30px;
}

.hero-text p {
    margin: 15px 0;
    max-width: 400px;
    color: #ccc;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 12px 22px;
    background: #00c3ff;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

/* IMAGE FRAME */
.hero-image {
    position: relative;
}

/* floating animation */
.glow-frame {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 5px;
    background: radial-gradient(circle, #00c3ff, transparent);
    animation: float 4s ease-in-out infinite;
    box-shadow: 0 0 25px #00c3ff;
}

.hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* FLOAT */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

/* SECTIONS */
.section {
    padding: 60px 50px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(0,195,255,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px #00c3ff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }
}